<header class="header">
  <a class="logo" [routerLink]="routes.ROOT.asArray">
    <img class="image" src="/assets/logo/white.png" alt="logo" />
  </a>

  <nav class="menu">
    <a routerLink="{{ routes.about }}">About</a>
    <a [routerLink]="routes.car.ROOT" [routerLinkActive]="['active']"> Car </a>
    <a [routerLink]="routes.car[2018]" [routerLinkActive]="['myActiveClass', 'myActiveClass2']">
      Car (navLink + navParams)
    </a>

    <a [routerLink]="routes.car[2368]" [routerLinkActive]="['myActiveClass', 'myActiveClass2']">
      Car (navLink + navParams (reversed)
    </a>

    <a (click)="freshCar()"> Car (navigate) </a>

    <a routerLink="{{ routes.car.details.asString }}"> Details </a>

    <a [routerLink]="routes.home.asArray"> Home </a>
    <span class="link" routerLink="{{ routes.users.ROOT }}"> Users </span>
  </nav>
</header>
